<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" action="/addUser">
    <input type="text" name="firstname" placeholder="Enter name...">
    <input type="submit" value="ADD TO DB">
    </form>
  </body>
</html>
