<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" action="/addRest">
     <input type="text" name="restname">
     <input type="submit" value="Add">
   </form>
  </body>
</html>
